/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

import 

* > * {
    font-family: "Poppins", cursive;
    margin: 0 auto;
}

body{
  /* background: #0f0c29;  */
  /* background: -webkit-linear-gradient(to right, #4545e9, #49a049, #5c3838);   */
  background: linear-gradient(to right, #6d9479, #685ecc, #a53131);

}

.basic-table{
  /* background: #8278e4;  */
  /* background: -webkit-linear-gradient(to right, #6565ec, #302b63, #ccdab4);   */
  background: linear-gradient(to right, #8f8fc0, #409aa0, #423883);
}

.form {
  height: 100vh;
}

.App { 
    /* display:grid; 
   display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;  */
    margin: 0 auto;  
     height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
} 

.anime-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* h2, span{
  text-decoration-color: #302b63;
  text-shadow: #003049;
  text-overflow: ellipsis;
} */

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: white;
}

/* .register h2{
  border-width: 5cap;
} */

#test{
  width: max-content;
}

.test-2{
  width: max-content !important;
}

.register p{
  color: #adb5bd;
  text-align: center;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form-2{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form-2 >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

#form-2 > input:focus{
  outline: none;
}

#form-2 > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

/* anilist css */

/* #anime-items {
  display: flex;
} */

/* HOMEPAGE */

.header-image {
  height: 200px; /* adjust height  */
  /* background-image: url('../assets/Header-1.jpg'); */
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.navbar-container {
  position: absolute;
  margin-top: 20px; /* add margin to the top */
}

.navbar-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-container li {
  margin: 0 10px;
}

.navbar-container li:last-child {
  margin-right: 0; /* remove margin from the last li element */
}

.navbar-container a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  display: block;
  padding: 14px 16px;
}

.navbar-container a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-container button {
  color: #f2f2f2;
  background-color: #333;
  border: none;
  font-size: 17px;
  padding: 14px 16px;
  cursor: pointer;
}

.navbar-container button:hover {
  background-color: #ddd;
  color: black;
}

/* li a.favorites:visited {
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
} */

.navbar-container li a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbar-container li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-container li:nth-child(2) a{
  cursor:pointer;
}

/* ANIME-GRID */

/* .anime-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
} */

.anime-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  text-align: center;
}

/* PAGINATION */



.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.pagination-container ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.pagination-container li {
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  cursor: pointer;
}

.pagination-container li.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-container li:hover {
  background-color: #ccc;
}

/* TABLE */

/* .anime-table {
  padding: 20px;
  background-color: #F2F2F2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ccc;
}

td {
  padding: 10px;
}

img {
  width: 100px;
  height: 150px;
} */

.anime-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  /* border: 1px solid #ccc; */
  background-color: #f9f9f9;
  padding: 10px;
}

.anime-table table {
  border-collapse: collapse;
  width: 100%;
}

.anime-table th,
.anime-table td {
  border: 1px solid #641f1f;
  padding: 8px;
  text-align: left;
}

.anime-table th {
  background-color: #ddd;
  font-weight: bold;
}


/* SEARCH CONTAINER */


.search-container {
  display: flex;
  justify-content: flex-end;
}

#search-anime {
  /* background-color: #f2f2f2; */
  padding: 8px;
  border-radius: 6px;
  margin-right: 12px;
  border: 1px solid #ccc;
}

.search-container input:hover {
  background-color: #e8e8e8;
}

/* DELETE BUTTON */

 #delete-button {
   /* background-image: url('https://img.icons8.com/material-outlined/24/000000/delete-forever--v1.png" alt="delete'); */
  position: relative;
  background-color: transparent;
  border: none;
  /* margin-top: 5;
  padding:5px;  */
  background-color: red;
} 

#delete-button:hover {
  background-color: #e8e8e8;
  
}

#update-button:hover{
  background-color: #e8e8e8;
}

#update-button{
  border: none;
  justify-self: baseline;
  text-align: center;
  padding-left: 10px;
  /* margin-bottom: 60px; */
  /* margin-right: 35px; */
}

#delete-button-div{
  margin-top: 10px;
}

#update-button-div{
  margin-bottom: 10px;
}

/* SUCCESS MESSAGE */

.success-message {
  background-color: green;
  color: white;
  padding: 1rem;
}

/* FAVORITES NAVBAR */

/* .navbar {
  position: relative;
  font-size: larger;
  
  text-shadow: #fefdff;
  
  background-color: #007bff !important;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #317465;
  border-radius: 15px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdi8P8V6Km4kQXlAsNx52yLc0P_ceS4PDLPQ&usqp=CAU');
  
}


.nav-link:hover {
 
  color: #ff6b6b;
  background-color: #007bff;
}



.logout-link{
  margin-left: auto;
} */

.navbar {
  background-image: url('https://www.cbr.com/wp-content/uploads/2021/01/Attack-on-Titan-wall-titans-rumbling-feature.jpg');
  position: relative;
  font-size: larger;
  text-shadow: #fefdff;
  background-color: #007bff !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #317465;
  border-radius: 15px;
  z-index: 1;
}

.nav-link:hover {
  color: #ff6b6b;
  background-color: #007bff;
}

/* .logout-link{
  margin-right: 20px;
  margin-left: auto;
  border-radius: 15px;
  background: linear-gradient(to right, #6d9479, #685ecc, #a53131);
  
  background-color: #317465;
  
} */

.navContainer{
  padding-left: 20px;
  margin-top: 40px;
  background-color: #f3655b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdi8P8V6Km4kQXlAsNx52yLc0P_ceS4PDLPQ&usqp=CAU'); */
}

/* .mr-auto{
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */


.mr-auto{
  background: linear-gradient(to right, #6d9479, #685ecc, #a53131);
  /* background-color: #317465; */
  border-radius: 15px;
}

/* HOME */

.anime-card {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; */
  /* margin: 10px; */
  /* width: 200px; */
}

.anime-card img {
  width: 100%;
}

.anime-card h3 {
  /* display: none; */
  margin: 5px;
  text-align: center;
}

.anime-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

